# EditorConfig is awesome: http://EditorConfig.org

# Top-most EditorConfig file.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Limit lines to 79 characters (and docstrings/comments to 72):
# https://www.python.org/dev/peps/pep-0008/#maximum-line-length
[*.py]
max_line_length = 79

[*.yml]
indent_size = 2
indent_style = space

# Tab indentation for targets: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/make.html#tag_20_76_13_04
[{M,m}akefile]
indent_style = tab

# The indent size used in the `package.json` file cannot be changed:
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[package.json]
indent_size = 2
indent_style = space
